body {
  text-align: center;
  background-color: #333;
  margin: 0;
  padding: 0;
  color: #808080; /* Couleur du texte en blanc */
}

h1 {
  color: #008CBA;
  margin-top: 20px;
}

input[type="number"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005f6b;
}

p {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

