body {
  background-color: #222;
  color: #fff;
  margin: 0;
}

.container {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  /* Augmenter la largeur des colonnes */
  grid-template-rows: repeat(3, 150px);
  /* Augmenter la hauteur des lignes */
  grid-gap: 5px;
  background-color: #222;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  /* Supprimer l'espace entre les cellules */
}

.cell {
  width: 150px;
  /* Ajuster la largeur */
  height: 150px;
  /* Ajuster la hauteur */
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 2px solid #fff;
}

.restart-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
}

.restart-btn,
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
}

.restart-btn:hover,
button:hover {
  background-color: #777;
}

h1 {
  margin: 0;
}
