body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e2e2e;
}

.game-container {
  position: relative;
  width: 800px;
  height: 300px;
  background-color: #000000;
  border: 2px solid #333;
  overflow: hidden;
}

.dino {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
}

.obstacle {
  position: absolute;
  bottom: 0;
  left: 800px;
  width: 20px;
  height: 50px;
  background-color: red;
  animation: obstacleAnimation 2s linear infinite;
}

@keyframes obstacleAnimation {
  from {
    left: 800px;
  }
  to {
    left: -20px;
  }
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: red;
  display: none;
}

.score {
  color: #9f9d9d;
  font-weight: bold;
}

.retour-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: bold;
}

.retour-btn:hover {
  background-color: #555555;
}
