body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#gameArea {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #009dff;
    margin: auto;
    overflow: hidden;
}

#bird {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.pipe {
    position: absolute;
    width: 50px;
    background-color: #333;
}

.pipe:nth-child(even) {
    transform: scaleY(-1);
}

.restartButton {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.restartButton:hover {
    background-color: #45a049;
}

.score {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: white;
}