body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; /* Couleur de fond sombre */
    color: #e0e0e0; /* Couleur du texte clair */
}
h1 {
    font-size: 32px; /* Taille de la police */
    color: #ffffff; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    margin-top: 20px; /* Marge supérieure */
    margin-bottom: 40px; /* Marge inférieure */
}

.lobby {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.interface {
    text-align: center;
    margin: 20px;
    cursor: pointer;
    width: 200px;
    height: 300px;
    background-color: #2c2c2c; /* Couleur de fond légèrement plus foncée */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
    transition: transform 0.3s ease;
    overflow: hidden;
}

.interface:hover {
    transform: translateY(-5px);
}

.interface img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.interface p {
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 640px) {
    .interface {
        width: calc(100% - 40px);
    }
}
